  
.user{
  line-height: normal;
    display: inline-block;
    align-items: center;
  .userMgs{
    line-height: normal;
    .selectShop{
      width: 180px;
    }
    .text{
      line-height: normal;
      margin: 4px 0;
    }
  }
}